<div *ngIf="!userNotFound" class="flex justify-center p-8 font-lg">
  No User Found
</div>

<div
  *ngIf="userDetails && !isLoading"
  class="flex my-8 flex-col items-center md:flex-row xl:flex-row"
>
  <img
    *ngIf="userNotFound"
    src="{{ userDetails.avatar_url }}"
    class="border-none rounded-full w-1/4 mx-8"
    alt="{{ userDetails.name }}"
  />

  <div
    *ngIf="userNotFound"
    class="flex flex-col items-center md:items-start xl:items-start"
  >
    <div class="text-lg font-bold py-4">{{ userDetails.name }}</div>
    <div *ngIf="userDetails.bio" class="text-md py-2 px-4 md:px-0 xl:px-0">
      {{ userDetails.bio }}
    </div>
    <div *ngIf="userDetails.location" class="text-md py-2">
      <i class="fa-solid fa-location-dot" style="color: #000000"></i
      ><span class="px-2">{{ userDetails.location }}</span>
    </div>

    <div *ngIf="userDetails.twitter_username" class="text-md py-2">
      <span class="font-bold">Twitter </span>: https://twitter.com/{{
        userDetails.twitter_username
      }}
    </div>
    <div *ngIf="userDetails.html_url" class="text-md py-2 px-4 md:px-0 xl:px-0">
      <i class="fa-solid fa-link" style="color: #000000"></i>
      <span class="px-2 cursor-pointer" (click)="copyToClipboard()">{{
        userDetails.html_url
      }}</span>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="flex my-8 px-2 items-center flex-col items-center md:flex-row xl:flex-row"
>
  <div class="flex justify-center items-center w-1/4 mx-4">
    <div
      class="bg-gray-300 rounded-full h-32 w-32 animate-pulse my-4 md:1 xl:1"
    ></div>
  </div>
  <div class="flex flex-col w-2/3">
    <div
      class="text-lg font-bold py-4 bg-gray-300 animate-pulse rounded-md h-8"
    >
      &nbsp;
    </div>
    <br />
    <div class="text-md py-2 bg-gray-300 animate-pulse rounded-md h-4"></div>
    <br />
    <div class="text-md py-2 bg-gray-300 animate-pulse rounded-md h-4"></div>
  </div>
</div>

<div *ngIf="userNotFound" class="flex flex-wrap font-md">
  <div
    *ngFor="let repo of repoDetails"
    class="flex flex-col w-full p-8 border border-grey-400 md:w-1/2 xl:w-1/2"
  >
    <h1 *ngIf="!isLoading" class="font-bold font-lg">{{ repo.name }}</h1>
    <div
      *ngIf="isLoading"
      class="text-md my-1 bg-gray-300 animate-pulse rounded-md h-8"
    ></div>

    <p *ngIf="!isLoading" class="py-2">{{ repo.description }}</p>
    <div
      *ngIf="isLoading"
      class="text-md my-1 bg-gray-300 animate-pulse rounded-md h-4"
    ></div>
    <div *ngIf="!isLoading" class="flex flex-row flex-wrap">
      <div *ngFor="let language of repo.languages" class="my-4">
        <span class="bg-blue-500 text-white p-2 m-1 border rounded-md">{{
          language
        }}</span>
      </div>
    </div>
    <div *ngIf="isLoading">
      <div class="text-md my-1 bg-gray-300 animate-pulse rounded-md h-4"></div>
    </div>
  </div>
</div>

<div
  *ngIf="totalPages > 1 && userNotFound"
  class="flex flex-col justify-center my-8 w-full lg:flex-row xl:flex-row"
>
  <button
    (click)="previousPage()"
    [disabled]="currentPage === 1"
    class="rounded-tl-lg rounded-bl-lg border border-blue-600 p-2 md:p-4 xl:p-4"
    [ngClass]="{
      'bg-blue-500 text-white': currentPage === 1
    }"
  >
    Previous
  </button>

  <button
    *ngFor="let page of pagesToShow"
    (click)="goToPage(page)"
    [disabled]="currentPage === page"
    class="border border-blue-600 p-2 md:p-4 xl:p-4"
    [ngClass]="{
      'bg-blue-500  text-white': currentPage === page
    }"
  >
    {{ page }}
  </button>

  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    class="rounded-tr-lg rounded-br-lg border border-blue-600 p-2 md:p-4 xl:p-4"
    [ngClass]="{
      'bg-blue-500  text-white': currentPage === totalPages
    }"
  >
    Next
  </button>
</div>

<div
  class="fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-green-800 text-white py-2 px-4 rounded-md shadow-md z-50"
  *ngIf="copyMessage"
>
  {{ copyMessage }}
</div>
